body {
    background: #fff;
    font-family: "PP Mori ExtraBold", sans-serif;
}

nav{
    font-family: "PP Mori Regular", sans-serif;
}

@font-face {
    font-family: "PP Mori";

    src: url("https://github.com/carpioredo/carpio/blob/main/fonts/PPMori-ExtraBold.ttf");
    src: url("https://github.com/carpioredo/carpio/blob/main/fonts/PPMori-Regular.ttf");
}

/*
My  navigation
*/

nav{
    border-bottom: 2px solid #eeeeee;
}

nav a{
    text-decoration: none;
    color: rgb(104, 101, 101);
    padding: 10px;
    display: block;
}
nav a:hover{
  border-bottom: 3px solid greenyellow;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.push{
    margin-left: auto;
    background-color: black;
    border-radius: 30px;
    padding: 5px 20px;
}

.push a{
    color: white;
}

.greetings{
    font-size: 15rem;
    margin-top: 6rem;
    margin-bottom: 0;

}


.hero-introduction{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.hero-introduction{
    background-color: white;
    height: 100vh;
}
.flex-contact{
  display: flex;
  
}
footer{
    margin-top: 8rem;
}
.contact a{
  text-decoration: none;
  display: inline-block;
  margin-right: 2rem;
  color: rgb(104, 101, 101);
}
.contact a:hover{
  border-bottom: 3px solid greenyellow;
}

.contact p{
  font-family: "PP Mori Regular", sans-serif;
  font-size: 2rem;
}
