*{
    box-sizing: border-box;
}
body {
    width: 95%;
    background: #fff;
    font-family: "PP Mori ExtraBold", sans-serif;
}

nav{
    font-family: "PP Mori Regular", sans-serif;
}

@font-face {
    font-family: "PP Mori";

    src: url("https://github.com/carpioredo/carpio/blob/main/fonts/PPMori-ExtraBold.ttf");
    src: url("https://github.com/carpioredo/carpio/blob/main/fonts/PPMori-Regular.ttf");
}

/*
My  navigation
*/

nav{
    border-bottom: 2px solid #eeeeee;
}

nav a{
    text-decoration: none;
    color: rgb(104, 101, 101);
    padding: 10px;
    display: block;
}
nav a:hover{
  border-bottom: 3px solid greenyellow;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.push{
    margin-left: auto;
    background-color: black;
    border-radius: 30px;
    padding: 5px 20px;
}

.push a{
    color: white;
}

.hero-introduction{
    font-size: 9rem;
    
    
}
main{
    width: 1488px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}


.flex-contact{
  display: flex;
  
}
/* .flex-contact p{
    flex: 1;
} */
footer{
    margin-top: 18rem;
}
.contact a{
  text-decoration: none;
  display: inline-block;
  margin-right: 2rem;
  color: rgb(104, 101, 101);
}
.contact a:hover{
  border-bottom: 3px solid greenyellow;
}

.contact p{
  font-family: "PP Mori Regular", sans-serif;
  font-size: 1rem;
}
.video-redo{
    height: 800px;
    width: 1200px;
    background-color: rgb(207 232 220 / 40%);
    border-radius: 4em;

}
.personal{
    font-size: 1.7rem;
    font-family: "PP Mori Regular", sans-serif;
    line-height: 1.3;
    color: rgba(44, 44, 44, 0.4);
}
.statement{
    width: 70%;
}
.project{
    font-size: 1.2rem;
    color: rgba(44, 44, 44, 0.4);
    font-family: "PP Mori Regular", sans-serif;
}
